body {
    /*background-color: black;*/
    background-image: url('assets/fondo.png');
    color: #FFFFFF;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#miCanvas {
    border: 2px solid white;
    background-color: black;
}

h1 {
    font-size: 50px;
}

button {
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #3e8f47;
    transform: scale(0.97);
    transition: background-color 0.5s ease;
}

#contadores {
    position: fixed;
    font-size: 25px;
    top: 33%;
    left: 15%;
}

.lvl {
    font-size: 25px;
}

#puntuacionesAltas {

    position: fixed;
    font-size: 25px;
    top: 20%;
    right: 10%;
}

#puntuacionesAltas ul li {
    background-color: black;
    border : 2px solid white;
    list-style-type: none;
    margin: 5px 0;
    padding: 20px;
}