#miCanvas { 
    border: solid 3px #384; 
    margin: 20px; 
    display: block;
    margin: auto;
}

body{
    background-color: rgb(118, 118, 118);
}

h1{
    text-align: center;
    color: rgb(40, 0, 170);
    margin: 30px; 
}

#contadores {
    text-align: center;
}

#contadores p {
    display: inline-block;
    margin-right: 10px;
}

button{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}


