body {
    /*background-color: black;*/
    background-image: url('assets/fondo.png');
    color: #FFFFFF;
    text-align: center;
}

#miCanvas {
    border: 2px solid white;
    background-color: black;
}


h1 {
    font-size: 3rem;
}

button {
    font-size: 1.3rem;
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a050;
}

.contadores{
    font-size: 1.15rem;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 20px;
}